/* tudox Global Styles v0.3 */
/* 2023-06-14 */

:root {
  /* colors */
  --color-background: #2a2f4f;
  --color-main: #e5beec;

  /* fonts */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-main);
}

/* typography */
h1 {
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
  max-width: 80ch;
}

/* scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px var(--color-main); */
}

/* handle */
::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 0px;
}
/* end scrollbar styles */

/* removing the default link styles */
a {
  text-decoration: none;
  color: var(--color-background);
}

::-moz-selection {
  /* code for Firefox */
  color: var(--color-background);
  background: var(--color-main);
}

::selection {
  color: var(--color-background);
  background: var(--color-main);
}

.btn {
  background-color: var(--color-main);
  color: var(--color-background);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
}

.btn:hover {
}

.btn:active {
  transform: translate(0.1rem, 0.1rem);
}

/* global utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* end global utility classes */
